* {
  font-family: "JetBrainsMonoNF";
  border-radius: 0;
  font-size: 14px;
  font-weight: bold;
  box-shadow: none;
  border: none;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
  color: #edf7f6;
}

window#waybar.empty #window {
  background-color: transparent;
}

tooltip {
  background: #141523;
  border-radius: 5px;
  padding: 0 10px;
}

tooltip label {
  color: #edf7f6;
}

.module {
  margin: 5px 5px;
  background: #141523;
  border-radius: 5px;
  padding: 5px 8px;
}

#workspaces button {
  padding: 0 5px;
  color: #edf7f6;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

#workspaces button.visible {
  color: #edf7f6;
}

#workspaces button.active {
  color: #8be9fd;
}

#workspaces button.urgent {
  color: #ff5555;
}

#workspaces button.persistent {
  color: #dd9ac2;
}
